@page
@model MvcApp.Repositorio.Repositorio

<div class="container">

       <div class="row ">

       <div class="box-header">
       <h1 class="text-white">Meu Spotify </h1>
       <audio controls  id="player" hidden>
              <source 
                     src= "" 
                     type="audio/mpeg">
                     Seu navegador não suporta audio.
       </audio>

              <div class="p-4">
              <div id="vumeter">
                     <img src="/img/vu-meter.png" alt="" class="img-thumbnail" >
              </div> 
              </div>

       </div>

       </div>

       <div class="row  ">

              <div class="box-list">

                     <table class="table table-condensed table-stripped table-hover text-success">

                            <thead class="bg-success text-white">
                                   <tr>
                                   <td>Gênero</td>
                                   <td>Artista</td>
                                   <td>Album</td>
                                   <td>Título</td>
                                   <td>Play</td>

                                   </tr>
                            </thead>

                            <tbody>        
                            
                            @foreach( var  m  in   ViewBag.musicas ) {

                            <tr>             
                                   <td>
                                          @m.Genero  
                                   </td>

                                   <td>
                                          @m.Album
                                   </td>
                                   <td>
                                          @m.Artista
                                   </td>
                                   <td class="text-left">
                                          @m.UrlStr              
                                   </td>  
                                   <td>
                                   <a class="btn btn-link" href="javascript:;" onclick="wsPlayMusic('/musicas/Artista/@m.Artista/@m.Album/@m.UrlStr', @m.Id);">
                                   <div data-id="icon-play-stop-@m.Id">
                                          <i class="fa fa-play"></i>
                                   </div>
                                   </a>
                                   </td> 
                            </tr>
                     
                            }
                            
                            </tbody>
                     </table>

              </div>

       </div>

</div>

